[Desktop Entry]
Name=Konsole Scratchpad
Type=Application
TryExec=konsole
Exec=konsole \
    --nofork \
    --background-mode \
    --hide-tabbar \
    --hide-menubar \
    --profile scratchpad \
    -e zhj konsole-scratchpad
Icon=utilities-terminal
Terminal=false
Categories=Qt;KDE;System;TerminalEmulator;
X-DocPath=konsole/index.html
X-DBUS-StartupType=Multi
StartupNotify=false
X-KDE-AuthorizeAction=shell_access
StartupWMClass=konsole
